.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.app_main_div {
  padding: 20px;
  position: relative !important;
}

.AddIcon {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
  background-color: cornflowerblue !important;
}

.quiz_main_div {
  margin-top: 80px
}